<div class="row-fluid">
	<div class="span5">
		<%=image_tag('frontend/monitor.png')%>
	</div>
	<div class="span6">
		<h1 class="estatico" style="margin-top:50px">Rede de informação e conteúdo especializada em saúde</h1>
		<br/>
		<p class="estatico">O MED1 é uma rede de conteúdo e informação em saúde oferecida <b>gratuitamente</b> a todos usuários e profissionais de saúde.
		</p>
	</div>
	<%=image_tag('frontend/sombra_estatica.png')%>
</div>

<div class="row-fluid">
	<div class="span6">
		<h1 class="estatico" style="margin-top:50px;text-align:right">Para profissionais que querem trocar experiências</h1>
		<br/>
		<p class="estatico" style="text-align:right">Nosso objetivo é ser um portal de conteúdo de saúde na internet que tem como foco a divulgação do conhecimento científico de qualidade na área médica e demais Profissionais da Saúde, sendo dessa forma uma <b>Rede Sólida de Conteúdo</b> e <b>Informação em Saúde</b>.
		</p>

	</div>
	<div class="span5">
		<%=image_tag('frontend/medicos_baloes.png' ,style: 'margin-top:-30px')%>

	</div>
	<%=image_tag('frontend/sombra_estatica.png')%>
</div>

<div class="row-fluid">
	<div class="span5">
		<%=image_tag('frontend/maos_dadas.png', style: 'margin-top:-15px')%>
	</div>
	<div class="span6">
		<h1 class="estatico" style="margin-top:50px">Para visitantes que querem interagir com especialistas</h1>
		<br/>
		<p class="estatico">Além dos profissionais de saúde, os usuários leigos (visitantes), podem ler esses artigos e esclarecer suas dúvidas em um ambiente com informações que foram previamente acreditadas com enfoque na confiabilidade e certificação da informação.
		</p>
	</div>
	<br/>
	<br/>
</div>





<!-- <div class="hero-unit">
<p>
<h2>Quem Somos</h2><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>

<p>
<h2>Objetivo</h2>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
<p>
<h2>Como Funciona</h2>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nossos editores são os próprios profissionais de saúde. Cada um, especializado em determinado assunto, passa a ser de forma voluntária um colaborador da <b>Rede de Conteúdos Med1</b>, oferecendo aos profissionais e usuários leigos a melhor informação disponível na atualidade sobre determinado assunto.<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Todos os artigos passam por uma avaliação rigorosa de uma banca de editores que aprovam a sua liberação para visibilidade pública.<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Os textos aprovados passam a ser lidos e ranqueados por profissionais e usuários cadastrados. Os que obtiverem maior acesso e melhor ranking terão maior destaque na rede.<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Além dos profissionais de saúde, os usuários leigos (visitantes), podem ler esses artigos e esclarecer suas dúvidas em um ambiente com informações que foram previamente acreditadas com enfoque na confiabilidade e certificação da informação.
</p>

<p>
	<h2>Ética, Legalidade e Segurança</h2>
<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Em nenhum momento haverá incentivo a qualquer mecanismo de consulta não presencial. Apenas incentivamos a democratização da informação médica de qualidade.<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Todos os artigos terão um enfoque meramente informativo não substituindo de forma alguma a consulta médica presencial, que será sempre incentivada em todos os ambientes do site.<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Entendemos que um paciente melhor informado tendo acesso a um conteúdo confiável leva a maior adesão às propostas terapêuticas como os medicamentos, mudança para um estilo de vida mais saudável, melhor conhecimento sobre suas necessidades de cuidados e melhor acompanhamento de rotina e prevenção de doenças.<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Além disso, uma melhor orientação sobre qual o profissional mais adequado ao seu tratamento e acompanhamento.<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ao ler artigos bem escritos e tendo acesso a profissionais bem informados e bem recomendados na rede, os visitantes passam a ter melhores parâmetros para uma escolha mais acertada sobre qual médico ou profissional deve-se procurar para uma consulta presencial.<br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O MED1 está rigorosamente de acordo com as regras criadas pelo Conselho Federal de Medicina no que se refere à Publicidade Médica. Essas regras podem ser consultadas no portal do <%= link_to "CFM", "http://www.portalmedico.org.br/resolucoes/CFM/2011/1974_2011.htm" %> e no portal <%= link_to "Publicidade Médica", "http://www.publicidademedica.com.br" %>.
	
	
</p>

</div> -->

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		RemoverClass();
		AdicionarClass("como_funciona");
	});

</script>