<li class="string input stringish">
	<label for="subform_search_nome_<%= btn_name %>" class="label"><%= btn_titulo %></label>
	<input type="text" id="subform_search_descricao_<%= btn_name %>" class="nofloat" style="width: 30%;"/>
	<input type="button" id="subform_btn_search_<%= btn_name %>" value="Buscar" />
	<br />
	<span id="msg_busca_<%= btn_name %>"></span>
</li>