<table id="conteudo_<%= c.id %>">
	<tr >
		<td >
			<ul class="thumbnails" style="height:30px">
			    <li style="height:30px">
			    	<a href="<%=c.user.url_usuario%>" class="thumbnail">
			    		<%= avatar(c.user) %>
			    	</a>
			    </li>
		    </ul>
		</td>	
		<td class="titulo_atualizacao" ><%= user_name_timeline(c) %></td>
		<td style="width: 300px;">
			<div class="span1" style="vertical-align: top; text-align: right; width: 300px;">
				<%= link_to image_tag("backend/link_symbol.gif", :size => "22x22"), "#conteudo_#{c.id}" %>
				<% if c.user == current_user %>
					<%= link_to profile_delete_post_url(:id => c), :method => :delete, :id => "excluir_post_texto_#{c.id}", :confirm => 'Você tem certeza que deseja excluir esse post?',:title => "Excluir post" do %>
						<%=image_tag('backend/delete.png' ,:style => "vertical-align: top;")%>
					<% end %>
				<%end%>
			</div>
		</td>
	</tr>
</table>
<br/>
<%=c.texto%>

<script type="text/javascript" charset="utf-8">
  	$(document).ready(function() {

  	});
</script>