<!DOCTYPE html>
<html>
<head>
	<!-- Standard Favicon -->
	  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
	<!-- For iPhone 4 Retina display: -->
	  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/apple-touch-icon-114x114-precomposed.gif">
	<!-- For iPad: -->
	  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-touch-icon-72x72-precomposed.gif">
	<!-- For iPhone: -->
	  <link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-57x57-precomposed.gif">
		
			<% if yield(:title).present? %>
	        <title><%= yield(:title) %></title>
	    <% else %>
	        <title>Med1 - Rede de Informação em Saúde</title>
	    <% end %>
	    <%= yield(:header) %>
	  <meta name="keywords" content="<%=yield(:keywords) %> Saúde Doenças Artigos Rede Social Agendamento de Consultas Encontre Médico Certo Diagnósticos">
	  <meta name="description" content="<%=yield(:meta).chomp!%> - O Med1 é uma rede de informação em saúde. Fornece informações de qualidade para médicos e pacientes">
		<% if yield(:title).present? %>
			<meta property="og:title" content="<%= yield(:title) %> - Med1" />
		<% else %>
			<meta property="og:title" content="Med1" />
		<% end %>
	  <meta property="og:type" content="website" />
	  <meta property="og:url" content="http://www.med1.com.br<%= url_for() %>" />
	  <meta property="og:image" content="http://www.med1.com.br/assets/med1.jpeg" />
	  <meta property="og:site_name" content="Med1" />
	  <meta property="fb:admins" content="1241322737" />
		
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27632363-1']);
		_gaq.push(['_setDomainName', 'med1.com.br']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
	
	<style>
		.frontend{
			margin-top:56px;
			position:absolute;
			z-index:-100;
			overflow:none;
			width:100%;
			height: 500px;
			background-repeat:no-repeat;
			background-position:center top;
		}
		.frontend-container{
			margin-top:50px;
			padding-top:0px;
		}
		.search-frontend{
			width:650px;
			background-color:#515181;
			margin: 0px auto 190px;
			height:50px;
		}
		.pesquisa-frontend input{
			border:1px solid transparent;
			background-color:transparent;
			color:#515181;
			width:480px;
			position:relative;
			top:-10px;
			font-size:15px;
			box-shadow:none;
			font-family:Arial;
			font-weight:thin;
			margin-left:15px;
		}
		.banner1{
			display: none;
			height: 500px;
			background-image: url("/assets/frontend/banner_01.jpg");
			background-repeat:no-repeat;
			background-position:center top;
		}
		.banner2{
			display: none;
			height: 500px;
			background-image: url("/assets/frontend/banner_02.jpg");
			background-repeat:no-repeat;
			background-position:center top;
		}
		.banner3{
			display: none;
			height: 500px;
			background-image: url("/assets/frontend/banner_03.jpg");
			background-repeat:no-repeat;
			background-position:center top;
		}
		.banner4{
			display: none;
			height: 500px;
			background-image: url("/assets/frontend/banner_04.jpg");
			background-repeat:no-repeat;
			background-position:center top;
		}
		.banner5{
			display: none;
			height: 500px;
			background-image: url("/assets/frontend/banner_05.jpg");
			background-repeat:no-repeat;
			background-position:center top;
		}
		.titulo_banner{
			height: 230px;
			margin-left: 230px;
		}
		
	</style>
</head>
<body>
	
	<%=render partial: 'layouts/barra', locals: {logado: current_user.present?, land_page: true }%>
	
	<%=yield%>
	
	<%=render partial: 'layouts/rodape'%>


</body>
</html>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$('#tipo_busca').dropkick();
});
</script>
<script type="text/javascript" charset="utf-8">
	$(function(){$('#contactable').contactable({subject: 'feedback URL:'+location.href});});
</script>

